<!doctype html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Ultra" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Squada+One" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet">



		<title>Fashionscene</title>
		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
