body {
  font-family: helvetica;
  width: 90%;
  margin: 60px auto;
  line-height: 1.4em;
}

footer{
  color:black;
  font-size: 10px;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

section {
  margin: 25px 0;
}

img {
  max-width: 100%;
}

p {
  margin: 10px 0;
}

h1 {
  font-family: 'Squada One', cursive;
  font-size: 70px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 60px;
}

h2 {
  margin: 25px 0;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 25px;
  text-align: center;
}

h3 {
  display: inline;
  color:darkgrey;
  font-size: 13px;
  font-style: italic;
}

h4{
  margin: 10px 0;
  font-weight: bold;

}

h5 {
  margin: 25px 0;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 25px;
  text-align: left;
}

h6{
  color: grey;
  font-style: italic;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

nav {
  margin: 25px 0;
  text-align: center;
}

nav a {
  display: inline-block;
  margin-right: 55px;
  padding-left: 20px;
}

a {
    text-decoration:none;
    color:black;

}

a:hover{
  color:pink;
}

.nieuwspicture {
  width: 80%;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.homepagepicture{
  width: 90%;
  margin-left: auto;
  margin-right: auto;

}

.homepagepicture:hover {
  opacity: 0.7;
}

.grotetitel {
  font-size: 40px;
  line-height: 36pt
}

label {
    font-family: helvetica;
    margin: 10px 0;
    display: block;
    color: black;
    font-size: 1em;



}

input[type="text"], input[type="email"], input[type="password"],.textera[type="comment"]   {
    font-family: helvetica;
    font-size: 1.2em;
    width: 310px;
    color: #333;
    padding: 5px;
    padding-left: 20px;
    background-color: white;


}

input[type="submit"]  {
    font-family: helvetica;
    font-size: 1em;
    width: 220px;
    background-color: black;
    padding: 8px 5px;
    display: block;
    border-radius: 6px;
    color: white;
    font-family: 'Oswald', sans-serif;
    margin-left: 50px;

}

textarea {
  height: 150px;
  width: 330px;
  line-height: 150%;
  resize:vertical;
}
